body {
	padding: 0;
	margin: 0;
	background-color: #232323;
	font-family: 'Libre Baskerville', serif;
	
}

a {
    margin-right: 8px;
    text-decoration: none;
    color: #f2f2f2;
    transition: all 0.2s linear;
}

a:hover {
	color: #d0916d;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
	margin-top: 50%;
	display: grid;
	place-items: center;
}

.mtxt {
	color: #f2f2f2;
	text-align: center;
	font-size: 86px;
}

.mtxt nav {
	font-size: 24px;
}
