body {
    background-color: rgb(20, 20, 20);
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

.pnf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  color: #11ce3a;
  font-size: 15px;
  text-align: center;
  animation: textColor 5s infinite;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #11ce3a;
    font-size: 15px;
    text-align: center;
    animation: textColor 5s infinite;
  }

@keyframes textColor {
  0% {
    color: #11ce3a;
  }
  50% {
    color: #d81414;
  }
  100% {
    color: #11ce3a;
  }
}

.navigation_buttons {
  color: #11ce3a;
  animation: 5s textColor infinite;
}
