body {
  background-color: rgb(20, 20, 20);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.osmuzov {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  color: #11ce3a;
  font-size: 15px;
  text-align: center;
  animation: textColor 5s infinite;
}

@keyframes textColor {
  0% {
    color: #11ce3a;
  }
  50% {
    color: #d81414;
  }
  100% {
    color: #11ce3a;
  }
}

.container {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navigation_buttons {
  text-decoration: none;
  margin: 10px;
  color: #11ce3a;
  animation: 5s textColor infinite;
}
